/* *{margin: 0;padding: 0;box-sizing: border-box;} */
.busqueda{
    padding:20px;
}
.busqueda-input{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.busqueda-input input{
    padding: 10px;
}
.input-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros-busqueda{
    max-width: 1000px;
    min-width: 450px;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.filtros-busqueda input, .filtro-div select{
    cursor: pointer;
}
.filtros-busqueda div{
    display: flex;
    flex-direction: column;
}
.filtros-busqueda .filtro-title{
    color: #1a2158;
    font-weight: 620;
    margin-bottom: 0.5rem;
}
.filtro-div{
    display: flex;
    justify-content: flex-end;
    align-items: start;
}
.filtros-busqueda .fecha{
    width: 200px;
}
.filtros-busqueda .hora{
    width: 200px;

}
.filtros-busqueda .duracion{
    width: 200px;
}

.filtros-busqueda .superficie{
    width: 200px;
}

.cancha-list{
    margin-top: 20px;
    overflow-y: scroll;
    height: calc(100vh - 350px);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cancha-item{
    width: 100%;
    display: flex;
    background-color: #ececec;
    border-radius: 10px;
    cursor: pointer;
}
.cancha-item-img{
    width: 300px;
    height: 150px;
    overflow: hidden;
}
.cancha-item-img img{
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
}
.cancha-item-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;

}
.cancha-item-info{
    display: flex;
    align-items: center;
}
.cancha-item-info h4{
    margin-bottom: 20px;
}
.cancha-item-info .cancha-cali{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancha-cali .calificacion{
    padding-top: 12px;
    font-size: 1.5rem;
}
.cancha-cali .star{
    font-size: 2.5rem;
    color: #e4cd00;
}
.nothing{
    margin-top: 30px;
    color: #bbbbbb;
}
.nothing div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nothing svg{
    font-size: 7rem;
}
.nothing p{
    font-size: 1.5rem;

}